/* 던파 비트비트체 v2 */
@font-face{
font-family:'DNFBitBitv2';
font-style:normal;font-weight:400;src: url('https://cdn.df.nexon.com/img/common/font/DNFBitBitv2.otf')format('opentype')}

/* 강원교육튼튼체 */
@font-face {
    font-family: 'GangwonEduPowerExtraBoldA';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2201-2@1.0/GangwonEduPowerExtraBoldA.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

/* 페이퍼로지 */
@font-face {
    font-family: 'Paperlogy-8ExtraBold';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/2408-3@1.0/Paperlogy-8ExtraBold.woff2') format('woff2');
    font-weight: 800;
    font-style: normal;
}

* { margin: 0; padding: 0; box-sizing: border-box; }

body {
   background-color: #D7F9A3;
   min-height: 100vh;
   display: flex;
   flex-direction: column;
   align-items: center;
}

.header {
   padding: 20px;
   width: 100%;
   background-color: #fff;
}

.logo {
   font-family: 'DNFBitBitv2', sans-serif;
   font-weight: bold;  
   font-size: 24px;
   color: #000;
   padding-left: 20px;
}

.container {
   font-family: 'GangwonEduPowerExtraBoldA', sans-serif;
   max-width: 800px;
   width: 100%;
   padding: 20px;
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   flex-grow: 1;
   position: relative;
}

.main-title {
   font-size: 48px;
   font-weight: bold;
   margin-bottom: 30px;
   text-align: center; 
   text-shadow: 2px 2px 4px rgba(0,0,0,0.1);
}

.subtitle {
   font-size: 25px;
   text-align: center;
   margin-bottom: 40px;
   line-height: 1.5;
}

.input-container {
   width: 100%;
   max-width: 500px;
   padding: 10px;
   border-radius: 25px;
   background-color: rgba(255, 255, 255, 0.9);
   display: flex;
   justify-content: space-between;
   align-items: center; /* 자식 요소 수직 정렬 */
   box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.url-input {
   font-family: 'Paperlogy-8ExtraBold', sans-serif;
   flex-grow: 1;
   height: 40px; 
   padding: 0 20px;
   border: none;
   background: transparent;
   font-size: 16px;
   line-height: 1; 
   outline: none;
}

.submit-button {
   font-family: 'Paperlogy-8ExtraBold', sans-serif;
   height: 40px; 
   padding: 0 20px;
   background-color: #000;
   color: white;
   border: none;
   border-radius: 20px;
   cursor: pointer;
   font-size: 16px;
   line-height: 1;
   transition: background-color 0.3s;
}

.submit-button:hover {
   background-color: #333;
}


.emoji {
   position: absolute;
}

.headset {
   width: 350px;
   height: auto;
   top: 9%;
   left: -1%;
   animation: float 3s ease-in-out infinite;
}

.happy-emoji {
   width: 190px;
   height: auto;
   bottom: 4%;
   left: 5%;
   animation: float 4s ease-in-out infinite;
}

.sad-emoji {
   width: 120px;
   height: auto;
   bottom: 27%;
   left: -5%;
   animation: float 3.5s ease-in-out infinite;
}

.pen {
    width: 100px;
    height: auto;
    bottom: 25%;
    left: 10%;
    animation: float 3.5s ease-in-out infinite;
 }

.book {
   position: absolute;
   width: 150px;
   height: auto;
   top: 25%;
   right: 2%;
   animation: float 3.5s ease-in-out infinite;
}

.note {
   position: absolute;
   width: 450px;
   height: auto;
   bottom: 0%;
   right: -30%;
   animation: float 3.5s ease-in-out infinite;
}

.thunder {
   position: absolute;
   width: 250px;
   height: auto;
   bottom: 25%;
   right: -25%;
   animation: float 3.5s ease-in-out infinite;
}

@keyframes float {
   0% { transform: translateY(0px); }
   50% { transform: translateY(-10px); }
   100% { transform: translateY(0px); }
}

@keyframes floatBook {
   0% { transform: translateY(0px) rotate(45deg); }
   50% { transform: translateY(-10px) rotate(45deg); }
   100% { transform: translateY(0px) rotate(45deg); }
}

@media (max-width: 480px) {
  .headset {
    width: 150px;
    top: 3%;
  }

  .happy-emoji {
    width: 80px;
  }

  .sad-emoji {
    width: 60px;
  }

  .pen {
    width: 40px;
  }

  .book {
    width: 80px;
  }

  .note {
    width: 200px;
    right: -10%;
  }

  .thunder {
    width: 120px;
    right: -5%;
  }
}