<!DOCTYPE html>

<html lang="ko">
  <!-- 한국어문서, 음성지원할때 -->
  <head>
    <meta charset="UTF-8" />
    <!--브라우저가 문서를해석할때 한글을 UTF-8형식으로 해석-->
    <title>OHMUCHOO</title>
    <link rel="stylesheet" href="../static/style.css" />
  </head>
  <body>
    <header class="header">
      <div class="logo">OHMUCHOO</div>
    </header>
    <div class="container">
      <h1 class="main-title">쓰고, 듣고, 즐기고</h1>
      <p class="subtitle">
        글로 남겨진 나의 하루, 음악으로 듣기고 싶다면?<br />URL을 알려주세요!
      </p>
      <form class="input-container" method="POST" action="v1/models/summary">
        <input
          type="text"
          placeholder="URL을 입력해주세요."
          class="url-input"
          name="url"
        />
        <button class="submit-button" type="submit">입력하기</button>
      </form>

      <img
        src="../static/assets/headset.png"
        alt="headset"
        class="emoji headset"
      />
      <img
        src="../static/assets/happy.png"
        alt="happy emoji"
        class="emoji happy-emoji"
      />
      <img
        src="../static/assets/sad.png"
        alt="sad emoji"
        class="emoji sad-emoji"
      />
      <img src="../static/assets/pen.png" alt="pen" class="emoji pen" />
      <img src="../static/assets/book.png" alt="book" class="book" />
      <img src="../static/assets/note.png" alt="note" class="note" />
      <img src="../static/assets/thunder.png" alt="thunder" class="thunder" />
    </div>
  </body>
</html>
